* {
  margin: 0;
  box-sizing: border-box;
}

td button.btn-orange {
  background-color: #ff8c00;
}

td button.btn-orange:hover {
  background-color: #ff8c00;
}

td.btn-orange {
  background-color: #ff8c00;
}

td.btn-orange:hover {
  background-color: #ff8c00;
}
